.spotify__navbar-searchbar {
    background-color: white;
    width: 30%;
    padding: 0.4rem 1rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.spotify__navbar-searchbar input {
    border: none;
    height: 2rem;
    width: 100%;

    &:focus {
        outline: none;
    }
}

.spotify__navbar-avatar {
    background-color: black;
    padding: 0.3rem 0.4rem;
    padding-right: 1rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotify__navbar-avatar a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.spotify__navbar-avatar svg {
    font-size: 1.3rem;
    background-color: #282828;
    padding: 0.2rem;
    border-radius: 1rem;
    color: #c7c5c5;
}